# Kim Bottomley & Rodrigo Alcover
# Program Search and Sort due 1/29/2022
# CIS 226-23199 Advanced Python Programming
# 20hrs
# Each line can specify the types of files to ignore:

# Ignore the .venv folder
.venv/

# Ignore all files that end in .

*.pyc